body{
    background-color: #f5f4ff;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    min-height: 110vh;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    background-color: #0000ff;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    

}

nav h1{
  font-size: 25px;
  padding-left: 10px;
  color: rgb(255, 255, 255);
}

.panel_input{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}

.box{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

input{
    background-color: #ffffff;
    padding: 6px;
    border-radius: 5px;
    border: solid 1px black;

}

#input_id1, #input_id2{
    background-color: #ffffff;
    width: 20px;
    padding: 6px;
    border-radius: 5px;
    border: solid 1px black;
}

/**knapper-----**/
#Lagd_vare, #Endre_vare, #Slett_vare{
    padding: 7px 12px;
    border-radius: 5px;
    color: rgb(253, 253, 253);
    text-align: center;
}

#Lagd_vare{
    background-color: rgb(148, 148, 148);
    border: solid 1px #1b1b1b;
    
}

#Lagd_vare:hover{
    background-color: rgb(80, 80, 80);
    
}

#Endre_vare{
    background-color: #38ac38;
    border: solid 1px #004b00;
    
}

#Endre_vare:hover{
    background-color: rgb(148, 241, 130);
    
}

#Slett_vare{
    background-color: #ac3838;
    border: solid 1px #4b0000;
    
}

#Slett_vare:hover{
    background-color: rgb(241, 130, 130);
    
}

#Hente_resultat{
    background-color: #31a82d;
    border: solid 1px #004b04;
    color: #ffffff;
    padding: 10px;

}

#Hente_resultat:hover{
    background-color: #46c942;

}

.panel_terminal{
    padding: 10px;
}

#Terminal{
    background-color: #ffffff;
    border: solid 1px black;
    width: 400px;
    height: 300px;
    border-radius: 10px;
    padding: 10px;
}

footer{
    width: 100%;
    height: 80px;
    background-color: #0000ff;
    text-align: center;
    align-items: center;
    color: #bfbffd;
    margin-bottom: 0px;
    bottom: 0;
   
}

