body{
    margin: 0px;
    background-color: #efefef;
    display: flex;
    flex-wrap: wrap;
    min-height: 110vh;
}

nav{
    width: 100%;
    background-color: #3E16AC;
    height: 60px;
    color: rgb(255, 255, 255);
    display: flex;
    
}

nav h1{
    font-size: 25px;
    padding-left: 10px;

}

.input-panel{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
}

.box{
    display: flex;
    align-items: center;
    gap: 10px;

}


#input_id{
    padding: 7px;
    width: 20px;
    display: flex;
    border: 1px solid #000000;
    border-radius: 5px;
    
}

#input_id2{
    padding: 7px;
    width: 20px;
    display: flex;
    border: 1px solid #000000;
    border-radius: 5px;
    
}

input{
    padding: 7px;
    display: flex;
    border: 1px solid #000000;
    border-radius: 5px;
}

#vare_lakt_til{
    background-color: #929292;
    color: #ffffff;
    border: 1px solid #737373;
    padding: 5px 10px;
    border-radius: 5px;
}

#vare_lakt_til:hover{
    background-color: #515151;

}

#vare_endret{
    background-color: #6EB55D;
    color: #ffffff;
    border: 1px solid #adecae;
    padding: 5px 10px;
    border-radius: 5px;

}

#vare_endret:hover{
    background-color: #2a5420;

}

#slett{
    background-color: #b55d5d;
    color: #ffffff;
    border: 1px solid #ecadad;
    padding: 5px 10px;
    border-radius: 5px;
}

#slett:hover{
    background-color: #542020;

}

.All_vare{
    background-color: #6EB55D;
    color: #ffffff;
    border: 1px solid #adecae;
    padding: 10px 20px;
    border-radius: 5px;
}

.All_vare:hover{
    background-color: #558549;
    color: #ffffff;

}
.Panel{
    padding: 10px;

}

.Terminal{
    background-color: #ffffff;
    color: #353535;
    width: 500px;
    height: 350px;
    border: 1px solid #626262;
    padding: 5px 5px;
    border-radius: 10px;
    
}

footer{
    width: 100%;
    background-color: #3E16AC;
    height: 8ch;
    display: flex;
    justify-content: center;
    padding: 10px;

}

footer p{
    color: #b09de3;
    font-size: 15px;
    padding-left: 10px;
}