body{
    margin: 0px;
    background-color: #f1f1f1;
    display: flex;
    flex-wrap: wrap;
    min-height: 110vh;
}

nav{
    width: 100%;
    height: 60px;
    background-color: #3E16AC;
    color: rgb(255, 255, 255);
    display: flex;
}

nav h1{
    font-size: 25px;
    padding-left: 10px;

}

.innput-panel{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
 
}

.Box{
    display: flex;
    justify-content: center;
    gap: 10px;
}

input{
    padding: 7px;
    border-radius: 5px;
    border: solid 1px rgb(0, 0, 0);
}

#input_id1, #input_id2 {
    width: 20px;
    padding: 7px;
    border-radius: 5px;
    border: solid 1px rgb(0, 0, 0);
}


/**knappene for å leggetil, endre, slette **/
#Lakt_til_vare{
    padding: 5px 10px;
    color: rgb(255, 255, 255);
    background-color: #929292;
    border: solid 2px #d2d2d2;
    border-radius: 5px;
}

#Lakt_til_vare :hover{
     background-color: hwb(0 24% 33%);

}

#endret_vare{
    padding: 5px 10px;
    color: rgb(255, 255, 255);
    background-color: #6EB55D;
    border: solid 2px #cae2c4;
    border-radius: 5px;
}

#slette_vare{
    padding: 5px 10px;
    color: rgb(255, 255, 255);
    background-color: #b55d5d;
    border: solid 2px #cb9292;
    border-radius: 5px;

}

/**knapper for å hente alle varer**/
#all_varer{
    background-color: #6EB55D;
    padding: 10px 10px;
    border: solid 2px #91bf86 ;
    color: #ffffff;
    border-radius: 5px;
}


#all_varer:hover{
    background-color: #547e4a;

}
 
.panel{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

}

#terminal{
    width: 550px;
    height: 350px;
    background-color: #ffffff;
    border-radius: 10px;
    border: solid 1px black;

}

#terminal p{
   padding: 10px;

}
   
footer{
    width: 100%;
    background-color: #3E16AC;
    height: 80px;
    display: flex;
    justify-content: center;
    padding: 10px;
    
}

footer p{
    color: #baa8ec;
    
}

